body {
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
}

.jumbotron {
  padding-top: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.totalSins {
  text-align: center;
}

.totalSins p {
  font-size: 24px;
}

.badge-item {
  display: inline-block;
  margin: 1rem .5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.bestOf {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: 1rem;
}

.badge {
  margin-left: 2rem;
}

.btn {
  border-radius: 0;
}

.btn-warning, .btn-danger {
  float: right;
  margin-left: .2rem;
}

.leading {
  text-transform: uppercase;
}

.form-control {
  border-radius: 0;
}

.container-fluid .jumbotron {
  border-radius: 0;
}

.underline {
  border-bottom: 1px solid #747474;
}

.watchface {
  font-family: 'Fira Code', 'Lucida Console', 'Courier New', monospace;
  padding-right: 1rem;
  color: #89253e !important;
}
